body, html {
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 100%;
    background: #000000;
}
canvas {
    /*margin-bottom: -4px;*/
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
iframe {
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -76px;
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Black Han Sans', sans-serif;
    color: #66B2FF;
    font-size: 5vh;
}

